/* p{
   font-size: 16px;
   text-align: justify;
   width: 170px;
   height: 140px;
   border: 1px solid black;
   word-wrap: break-word;
}*/

.prvi{ 
    font-size: 16px;
    text-align: center;
    width: 170px;
    height: 140px;
    border: 1px solid black;
    border-radius: 7px;
    word-wrap: break-word;
    position: fixed;
    top: 190px;
    left: 170px;
}

.drugi{ 
    font-size: 16px;
    text-align: center;
    width: 170px;
    height: 140px;
    border: 1px solid black;
    border-radius: 7px;
    word-wrap: break-word;
    position: fixed;
    top: 190px;
    left: 420px;
}

.treci{ 
    font-size: 16px;
    text-align: center;
    width: 170px;
    height: 140px;
    border: 1px solid black;
    border-radius: 7px;
    word-wrap: break-word;
    position: fixed;
    top: 190px;
    left: 670px;
}

.cetvrti{ 
    font-size: 16px;
    text-align: center;
    width: 170px;
    height: 140px;
    border: 1px solid black;
    border-radius: 7px;
    word-wrap: break-word;
    position: fixed;
    top: 190px;
    left: 920px;
}

.Clearfix {
	clear: both;